@font-face {
    font-family: MyFont;
     src: url(Ghastly\ Panic.ttf);
 }
 html{
    
     background-color: black;
 
 }
 .large{
     width: 500px;
 }
 .big{
     font-size: 40px;
     color: grey;
 }
 .small{
     font-size: 20px;
 }
 #giant{
     font-size:50px;
 }
 /*custom header*/
 a{
     color:rgb(216, 213, 210);
 }
 h1{
     color: rgb(204, 203, 198);
 border-style: solid;
 border-inline: 200px;
 
 }
 p1{
     color:rgb(182, 181, 173);
     font-family: MyFont;
     font-size: x-large;
 }
 h2{
     color: rgb(214, 214, 209);
 
 }